@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background: #1f1f47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    padding: 30px;
    line-height: 1.6;
}

h1 {
    font-size: 2.5em;
    color: #fa709a;
    margin-bottom: 20px;
}

button {
    background-color: #fa709a;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 2px;
    font-size: 1em;
}

button a {
    color: #fff;
    text-decoration: none;
}

.content li {
    list-style-type: disc;
    list-style-position: inside;
}

.content a {
    color: #fff;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}