<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskWeave</title>
    <link rel="stylesheet" type="text/css" href="/static/navbar.css?v=1">
    <link rel="stylesheet" type="text/css" href="/static/index-styles.css?v=2">
    <link rel="icon" href="/assets/icon-modified.png" type="image/png">
</head>
<body>
<nav class="navbar">
    <div class="logo-box">
        <a href="/">
            <img src="/assets/logo-modified.png" alt="Logo">
        </a>
    </div>
    <ul class="nav-menu">
        <li class="menu-item"><a href="" target="_blank" rel="noopener noreferrer">About</a></li>
        <li class="menu-item"><a href="/login" target="_blank" rel="noopener noreferrer">Login</a></li>
        <li class="menu-item"><a href="/signup" target="_blank" rel="noopener noreferrer">Signup</a></li>
    </ul>
</nav>

<div class="body-content">
    <div class="content">
        <h1>Welcome to TaskWeave</h1>
        <p>Your efficient assistant for managing daily tasks.</p>
        <h2>A Work-In-Progress App Designed with You in Mind</h2>
        <p>TaskWeave is a work-in-progress app, designed for individual users who want to streamline and balance their workload. Though it is currently tailored for single users, we hope to expand our services to teams in the future.</p>
    </div>
    <div class="content">
        <h2>Features</h2>
        <ul>
            <li><b>Workload Balancing:</b> TaskWeave helps you distribute your work evenly across your day.</li>
            <li><b>Prioritization:</b> Assign priorities according to your tasks' urgency and importance.</li>
            <li><b>Task Tracking:</b> Helps you stay on track with all tasks, avoiding missing due dates.</li>
        </ul>
        <br>
        <p><b><a href="/tasks">Here</a></b> you can view your current tasks.</p>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>
</body>
</html>