<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>TaskWeave</h1>
    <button><a href="/login">Login</a></button>
    <button><a href="/signup">Signup</a></button>
    <p>TaskWeave is a task manager, that is currently <b>WORK IN PROGRESS.</b></p>
    <ul>
        <li><b>Workload Balancing:</b> TaskWeave helps you distribute your work evenly across your day.</li>
        <li><b>Prioritization</b> Assign priorities according to your tasks' urgency and importance.</li>
        <li><b>Task Tracking:</b> Helps you stay on track with all tasks, avoiding missing due dates.</li>
    </ul>
    <br>
    <p><a href="{{.LinkToTasks}}">Here</a> you can view your current tasks.</p>
</body>
</html>